body {
    color:green;
    font-size:16pt;
    background:linear-gradient(#f8e474, #ff7878);
}
h1 {
    color:black;
    opacity:0.9;
    font-size:30pt;
    margin-top:0px;
    margin-bottom:0px;
    text-align:left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}